<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Добро пожаловать в проект сканирования жесткого диска!</h1>
        <p>Общий объем проиндексированных файлов: {{ total_size_gb }} ГБ</p>
        <a href="{% url 'file_statistics' %}" class="btn btn-primary">Статистика по расширениям</a>
        <a href="{% url 'top_files' %}" class="btn btn-primary">Топ самых больших файлов</a>
        <a href="{% url 'top_images' %}" class="btn btn-primary">Топ самых больших изображений</a>
        <a href="{% url 'top_documents' %}" class="btn btn-primary">Топ документов</a>
    </div>
</body>
</html>

